<!DOCTYPE html>
<html>
<head>
    <!--
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">-->

    <link rel="stylesheet" href="/static/search.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/static/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ title }}</title>

    {% block headextra %} {% endblock %}
</head>
<body>

<div>
    <!-- Page Content goes here -->
    <main>
        <div class="row">

            <nav>
                <div class="nav-wrapper blue lighten-2">
                    <span class="brand-logo black-text">Gateway to the Universe of Small Molecules</span>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="black-text" href="{{url_for('home_page')}}">Home</a></li>
                        <li><a class="black-text" href="http://pine.nmrfam.wisc.edu/web_servers.html" target="_blank">NMRFAM Servers</a></li>
                    </ul>
                </div>
            </nav>

            <div class="col s3">
                <!-- Instant search bar
                <div class="search">
                    <form method="get" action="/search/results" target="_blank">
                        <p><span style="font-weight: bold;">Search:</span>
                            <input type="text" id="search" name="term" title="Search">
                        </p>
                   </form>
                </div>-->
                <div class="card blue lighten-2">
                    <div class="card-content">
                        <span class="card-title">News</span>
                        <ul>
                            <li><b>Aug 2018</b>: Initiation.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col s9">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="page-footer blue lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Citation Information</h5>
                    <p class="black-text">In progress...</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Other Servers</h5>
                    <ul>
                        <li><a class="black-text" href="//gissmo.nmrfam.wisc.edu">GISSMO Server</a></li>
                        <li><a class="black-text" href="//alatis.nmrfam.wisc.edu">ALATIS Server</a></li>
                        <li><a class="black-text" href="//dashti.nmrfam.wisc.edu/camp/">CAMP Server</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">© 2018 NMRFAM
                <a class="black-text right" href="mailto:dashti@wisc.edu?subject=Feedback on Gateway">Contact</a>
            </div>
        </div>
    </footer>

</div>
<script type="text/javascript" src="/static/materialize.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', function() {
var elems = document.querySelectorAll('select');
var instances = M.FormSelect.init(elems, 'options');
});

</script>
</body>
</html>


