{% extends "base.html" %}
{% block body %}

<h3>Database Records</h3>
<p>For {{inchi}}</p>


{% if names.length %}
  <div class="card">
    <div class="card-content">
      <span class="card-title activator black-text">Click to view more names<i class="material-icons right">more_vert</i></span>
        <p>Name: {{names[0]}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text">Compound Names<i class="material-icons right">close</i></span>
      {% for name in names %}
        <p>{{name}}</p>
        {% endfor %}
    </div>
  </div>
{% endif %}


    {% if matches.alatis_ids %}
    <div class="card indigo lighten-1">
        <div class="card-content black-text">
            <span class="card-title">ALATIS Entries</span>
            <p>Unique identifiers for small molecules enable rigorous labeling of their atoms</p>
        </div>
        <div class="card-action">
            {% for id in matches.alatis_ids %}
            <a href="http://alatis.nmrfam.wisc.edu/pubchem/{{id}}" target="_blank">PubChem {{id}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if matches.gissmo_ids %}
    <div class="card indigo lighten-1">
        <div class="card-content black-text">
            <span class="card-title">GISSMO Entries</span>
            <p>GISSMO enables the efficient calculation and refinement of spin system matrices (chemical shift and coupling constants) against experimental 1D-1H NMR spectra of small molecules</p>
        </div>
        <div class="card-action">
            {% for id in matches.gissmo_ids %}
            <a href="http://gissmo.nmrfam.wisc.edu/entry/{{id}}" target="_blank">{{id}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if matches.camp_ids %}
    <div class="card indigo lighten-1">
        <div class="card-content black-text">
            <span class="card-title">CAMP Entries</span>
            <p>CAMP is a webserver for computational mapping of MS peaks of a given small molecule to all possible fragments of the compound</p>
        </div>
        <div class="card-action">
            {% for id in matches.camp_ids %}
            <a href="http://dashti.nmrfam.wisc.edu/camp/entry/{{id}}" target="_blank">{{id}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if matches.bmod_ids %}
    <div class="card indigo lighten-1">
        <div class="card-content black-text">
            <span class="card-title">BMOD Entries</span>
            <p>Biomolecular Modeling Database (BMOD) is designed to archive and provide force field parameters of small molecules for different molecular modeling software packages.</p>
        </div>
        <div class="card-action">
            {% for id in matches.bmod_ids %}
            <a href="http://bmod.nmrfam.wisc.edu/entry/{{id}}" target="_blank">{{id}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
