{% extends "base.html" %}
{% block title %}{{ matches.names[0] }} - {{inchi}}{% endblock %}
{% block body %}

<script>
function showMore() {
  $('#all-names').show();
  $('#show-more').hide();
  $('#show-less').show();
}
function showLess() {
  $('#all-names').hide();
  $('#show-more').show();
  $('#show-less').hide();
}
</script>

<h3>Database Records for {{ matches.names[0] }}</h3>
<p>Standard {{inchi}}</p>

<div class="card indigo lighten-1">
    <div class="card-content black-text">
        <span class="card-title">Primary compound name: {{ matches.names[0] }}
            <i class="material-icons right" id="show-more" onclick="showMore()">expand_more</i>
            <i class="material-icons right" id="show-less" onclick="showLess()" style="display: none">expand_less</i>
        </span>

        {% if matches.names|length > 1 %}
        <div id="all-names" style="display: none; padding-left: 1em">
            {% for name in matches.names[1:] %}
            <p>{{name}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% if matches.alatis_ids %}
<div class="card indigo lighten-1">
    <div class="card-content black-text">
        <span class="card-title">ALATIS Entries</span>
        <p>Unique identifiers for small molecules enable rigorous labeling of their atoms</p>
    </div>
    <div class="card-action">
        {% for id in matches.alatis_ids %}
        <a href="http://alatis.nmrfam.wisc.edu/pubchem/{{id}}" target="_blank">PubChem {{id}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if matches.gissmo_ids %}
<div class="card indigo lighten-1">
    <div class="card-content black-text">
        <span class="card-title">GISSMO Entries</span>
        <p>GISSMO enables the efficient calculation and refinement of spin system matrices (chemical shift and coupling
            constants) against experimental 1D-1H NMR spectra of small molecules</p>
    </div>
    <div class="card-action">
        {% for id in matches.gissmo_ids %}
        <a href="http://gissmo.nmrfam.wisc.edu/entry/{{id}}" target="_blank">{{id}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if matches.camp_ids %}
<div class="card indigo lighten-1">
    <div class="card-content black-text">
        <span class="card-title">CAMP Entries</span>
        <p>CAMP is a webserver for computational mapping of MS peaks of a given small molecule to all possible fragments
            of the compound</p>
    </div>
    <div class="card-action">
        {% for id in matches.camp_ids %}
        <a href="http://dashti.nmrfam.wisc.edu/camp/entry/{{id}}" target="_blank">{{id}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if matches.bmod_ids %}
<div class="card indigo lighten-1">
    <div class="card-content black-text">
        <span class="card-title">BMOD Entries</span>
        <p>Biomolecular Modeling Database (BMOD) is designed to archive and provide force field parameters of small
            molecules for different molecular modeling software packages.</p>
    </div>
    <div class="card-action">
        {% for id in matches.bmod_ids %}
        <a href="http://bmod.nmrfam.wisc.edu/entry/{{id}}" target="_blank">{{id}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
