{% extends "base.html" %}
{% block body %}
<td align="top"> <!-- to go to the info box -->
                <form action="upload" method="post" enctype="multipart/form-data" target="_blank">
        <div id="query" class="section">
            <fieldset>
            <legend><b><font color="green" size="5">1. Input structure format </font></b></legend>
            <ul>
                <label class="m"><i>Specify input format:</i></label>
                <div class="input">
                    <select id="FORMAT" name="FORMAT" size="1">
                    <option value="mol">Mol v2000 (*.mol)</option>
                    <option value="sdf">SDF MDL (*.sdf)</option>
                    <option value="pdb">PDB (*.pdb)</option>
                    <option value="cdx">CDX (*.cdx)</option>
                    </select>
                </div>
            </ul>
            </fieldset>
        </div>

        <div id="query" class="section">
            <fieldset>
            <legend><b><font color="green" size="5">2. Auxiliary options</font> </b></legend>
            <ul>
                <ul>
                    <label class="m"><i><b>a.</b> If the input structure is a 2D structure, you can check this box to get a 3D project of the structure:</i></label>
                    <div class="input">
                            &nbsp;  &nbsp;<label for="proj2to3"><b>Generate 3D structure</b></label><input type="checkbox" id="proj2to3" name="proj2to3" unchecked>
                    </div>
                    <label class="m"><i><b>b.</b> If hydrogen atoms are missing from the structure, you can check this box to add hydrogen atoms:</i></label>
                    <div class="input">
                            &nbsp;  &nbsp;<label for="addHydr"><b>Add hydrogen atoms</b></label><input type="checkbox" id="addHydr" name="addHydr"  unchecked>
                    </div>
                                </ul>
                        </ul>
            </fieldset>
        </div>
        <div id="query" class="section">
            <fieldset>
            <legend><b><font color="green" size="5">3. Upload or paste input structure</font></b></legend>
            <ul>
                <label class="m"><i><b></b> upload a structure file (one compounds per submit): </i></label>
                <div class="input">
                        &nbsp;  &nbsp;<input type="file" name="infile" id="infile"/>
                </div>
                <label class="m"><i><b>OR</b> paste a structure:</i><font color="red">(if a file has been uploaded we process the uploaded file)</font></label>
                <div class="input">
                        &nbsp;  &nbsp;<textarea name="inputtext" id="inputtext" style="width: 50%;height: 250px;"></textarea><br>
                </div>
                        </ul>
            </fieldset>
        </div>
    <fieldset>
        <legend><b><font color="green" size="5">4. Submit</font></b></legend>
        <ul>
        <p align="center"><input type="submit" value="Submit" style="height:50px; width:250px"></p>
                </ul>
    </fieldset>
        </form>
</td> <!-- to go to the info box -->
{% endblock %}
