{% extends "base.html" %}
{% block title %}Search by structure{% endblock %}
{% block body %}

<div class="row" style="margin-top: 1em">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a {% if active== 'structure' %}class="active"{% endif %}href="#structure">Search by
                structure</a></li>
            <li class="tab col s3"><a {% if active== 'name' %}class="active"{% endif %} href="#name">Search by name</a>
            </li>
            <li class="tab col s3"><a {% if active== 'inchi' %}class="active"{% endif %} href="#inchi">Search by
                InChI</a></li>
            {% if active == 'result' %}
            <li class="tab col s3"><a class="active" href="#result">Selected compound</a></li>
            {% endif %}
        </ul>
    </div>

    <div id="structure" class="col s12">
        <form action="/upload" method="post" enctype="multipart/form-data" target="_blank">

            <div class="input-field">
                <fieldset>
                    <legend><b><font size="5">1. Input structure format </font></b></legend>
                    <p>If you upload a file with one of these extensions, this value will be set automatically.</p>
                    <select id="FORMAT" name="FORMAT">
                        <option value="" disabled selected>Choose the file type</option>
                        <option class="black-text" value="mol">Mol v2000 (*.mol)</option>
                        <option class="black-text" value="sdf">SDF MDL (*.sdf)</option>
                        <option class="black-text" value="pdb">PDB (*.pdb)</option>
                        <option class="black-text" value="cdx">CDX (*.cdx)</option>
                        <option class="black-text" value="smi">SMILES string (*.smi, *.txt)</option>
                    </select>
                </fieldset>
            </div>

            <div class="section">
                <fieldset>
                    <legend><b><font size="5">2. Auxiliary options</font> </b></legend>
                    <p>If the input structure is a 2D structure, you can check this box to get a 3D project of the
                        structure:</p>
                    <p>
                        <label class="black-text">
                            <input type="checkbox" class="checkbox-indigo filled-in" id="proj2to3" name="proj2to3">
                            <span>Generate 3D structure</span>
                        </label>
                    </p>
                    <p>If hydrogen atoms are missing from the structure, you can check this box to add hydrogen
                        atoms:</p>
                    <p>
                        <label class="black-text">
                            <input type="checkbox" class="filled-in checkbox-indigo" id="addHydr" name="addHydr">
                            <span>Add hydrogen atoms</span>
                        </label>
                    </p>
                </fieldset>
            </div>
            <div class="section">
                <fieldset>
                    <legend><b><font size="5">3. Upload or paste input structure</font></b></legend>
                    <p>Upload a structure file (one compound per submit):</p>

                    <div class="file-field input-field">
                        <div class="btn indigo lighten-1">
                            <span>File</span>
                            <input type="file" name="infile" id="infile" accept=".mol,.sdf,.pdb,.cdx,.smi,.txt">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <p><b>OR</b> Paste a structure <font color="red">(if a file has been uploaded we process the
                        uploaded
                        file)</font></p>
                    <div class="input-field col s12">
                        <textarea name="inputtext" id="inputtext" class="materialize-textarea"></textarea>
                        <label for="inputtext">Paste your structure here</label>
                    </div>
                    You can download an <a href="static/input_2d.sdf">example input file</a>.
                </fieldset>
            </div>
            <fieldset>
                <legend><b><font size="5">4. Submit</font></b></legend>
                <button class="btn waves-effect waves-light indigo lighten-1" type="submit" value="Submit">Submit
                    <i class="material-icons right">send</i>
                </button>
                <p>Or view an <a
                        href="{{url_for('inchi_search', inchi='InChI=1S/C8H10N4O2/c1-10-4-9-6-5(10)7(13)12(3)8(14)11(6)2/h4H,1-3H3')}}">example
                    results page</a>.</p>
            </fieldset>
        </form>
    </div>

    <div id="name" class="col s12">
        <form action="/name" method="get">

            <div class="input-field">
                <fieldset>
                    <legend><b><font size="5">Search by name </font></b></legend>
                    <div class="col s10">
                        <input type="text" id="search" name="term" title="Search"
                               {% if title %}value="{{title}}" {% endif %}
                               {% if matches and matches.names %}value="{{ matches.names[0] }}" {% endif %}>
                    </div>
                    <div class="col s2">
                        <button class="btn waves-effect waves-light indigo lighten-1 s4" type="submit" value="Submit">
                            Search<i class="material-icons right">send</i>
                        </button>
                    </div>
                </fieldset>
            </div>
        </form>
        <div>
            {% if active == 'name' %}
            <div class="col s12">
                {% if results['results'] %}
                <h2>Search results for query: '{{ title }}'</h2>
                {% if not results['full_result'] %}
                <div class="card blue lighten-2">
                    <div class="card-content">
                <span class="card-title">Notice: your query matched a large number of entries.  Only compounds
with names that begin with your search term are displayed.</span>
                    </div>
                </div>
                {% endif %}
                <table>
                    <thead>
                    <tr>
                        <th align="left">Name</th>
                        <th align="left">Alternative matched names</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in results['results'] %}
                    <tr>
                        <td><a href="{{url_for('inchi_search', inchi=item.inchi)}}" title="{{ item.inchi }}">{{
                            item.name }}</a></td>
                        <td>{% for one_name in item['matched-names'] %}{{one_name}}<br>{% endfor %}</td>
                        <td><button class="btn waves-effect waves-light blue lighten-1 s4"
                                    onclick="addImage(this, '{{item.inchi}}')">View image</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>No results for query '{{title}}'!</h4>
                {% endif %}
            </div>

            {% endif %}
            <div style="min-height: 25em"></div>
        </div>
    </div>

    <div id="inchi" class="col s12">
        <form action="/inchi" method="get">

            <div class="input-field">
                <fieldset>
                    <legend><b><font size="5">Search by InChI </font></b></legend>
                    <div class="row">
                        <div class="col s10">
                            <input type="text" id="search_inchi" name="inchi" title="Search" value="{{inchi}}">
                        </div>
                        <div class="col s2">
                            <button class="btn waves-effect waves-light indigo lighten-1 s4" type="submit"
                                    value="Submit">
                                Search<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">Hint: You can use '?' to specify unknown chirality.</div>
                    </div>
                </fieldset>
            </div>
        </form>

        {% if chiral_matches %}
        <div class="col s12">
            <table>
                <thead>
                <tr>
                    <th align="left">InChI</th>
                    <th align="left">Most common names</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                {% for item in chiral_matches %}
                <tr>
                    <td><a href="{{url_for('inchi_search', inchi=item.inchi)}}" title="{{ item.inchi }}">{{
                        item.inchi }}</a></td>
                    <td>{% for one_name in item['names'] %}
                        {% if loop.index <= 5 %}{{one_name}}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td><button class="btn waves-effect waves-light blue lighten-1 s4"
                                    onclick="addImage(this, '{{item.inchi}}')">View image</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% if inchi %}
            <h4>No results for query '{{inchi}}'!</h4>
            {% endif %}
            {% endif %}

            {% if error %}
            <h4>{{ error }}</h4>
            {% endif %}
        </div>
    </div>

    {% if active == 'result' %}
    <div id="result" class="col s12">
        <h3>Database Records for {{ matches.names[0] }}</h3>
        <p>Standard {{inchi}}</p>
        <!--<img src="https://cactus.nci.nih.gov/chemical/structure/{{inchi}}/image">-->

        <div class="card indigo lighten-1">
            <div class="card-content black-text">
        <span class="card-title">{% if matches.names|length > 1 %}Primary c{% else %}C{% endif %}ompound name: {{ matches.names[0] }}
            <i class="material-icons right" id="show-more" onclick="showMore()"
               {% if matches.names|length < 2 %}style="display: none"{% endif %}>expand_more</i>
            <i class="material-icons right" id="show-less" onclick="showLess()" style="display: none">expand_less</i>
        </span>

                {% if matches.names|length > 1 %}
                <div id="all-names" style="display: none; padding-left: 1em">
                    {% for name in matches.names[1:] %}
                    <p>{{name}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        {% if matches.alatis_ids %}
        <div class="card indigo lighten-1">
            <div class="card-content black-text">
                <span class="card-title">ALATIS Entries</span>
                <p>Unique identifiers for small molecules enable rigorous labeling of their atoms</p>
            </div>
            <div class="card-action">
                {% for id in matches.alatis_ids %}
                <a href="https://alatis.bmrb.io/pubchem/{{id}}" target="_blank">PubChem {{id}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if matches.gissmo_ids %}
        <div class="card indigo lighten-1">
            <div class="card-content black-text">
                <span class="card-title">GISSMO Entries</span>
                <p>GISSMO enables the efficient calculation and refinement of spin system matrices (chemical shift and
                    coupling
                    constants) against experimental 1D-1H NMR spectra of small molecules</p>
            </div>
            <div class="card-action">
                {% for id in matches.gissmo_ids %}
                <a href="https://gissmo.bmrb.io/entry/{{id}}" target="_blank">{{id}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if matches.camp_ids %}
        <div class="card indigo lighten-1">
            <div class="card-content black-text">
                <span class="card-title">CAMP Entries</span>
                <p>CAMP is a webserver for computational mapping of MS peaks of a given small molecule to all possible
                    fragments
                    of the compound</p>
            </div>
            <div class="card-action">
                {% for id in matches.camp_ids %}
                <a href="https://camp.bmrb.io/entry/{{id}}" target="_blank">{{id}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if matches.bmod_ids %}
        <div class="card indigo lighten-1">
            <div class="card-content black-text">
                <span class="card-title">BMOD Entries</span>
                <p>Biomolecular Modeling Database (BMOD) is designed to archive and provide force field parameters of
                    small
                    molecules for different molecular modeling software packages.</p>
            </div>
            <div class="card-action">
                {% for id in matches.bmod_ids %}
                <a href="https://bmod.bmrb.io/entry/{{id}}" target="_blank">{{id}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

</div>

<script>

$(document).ready(function() {

    // Init file changer
    var instances = M.FormSelect.init(document.querySelectorAll('select'));

    // init tabs
    var instance = M.Tabs.init(document.querySelectorAll('.tabs'));

    document.getElementById('infile').onchange = function() {
        // document.getElementById('FORMAT').selectedIndex =
        $('#FORMAT').val(this.value.split('.').pop());
        $('#FORMAT').formSelect();
    };
});


function showMore() {
  $('#all-names').show();
  $('#show-more').hide();
  $('#show-less').show();
}
function showLess() {
  $('#all-names').hide();
  $('#show-more').show();
  $('#show-less').hide();
}

function addImage(item, inchi) {
    var img = document.createElement('img');
    img.src = 'https://cactus.nci.nih.gov/chemical/structure/' + inchi + '/image';
    var parent = item.parentElement;
    parent.removeChild(parent.firstChild);
    parent.appendChild(img)
}


</script>
{% endblock %}
