{% extends "base.html" %}
{% block title %}
{% if title %}Search for {{title}}{% else %}Search by compound name{% endif %}
{% endblock %}
{% block body %}

<form action="/name" method="get">

    <div class="input-field">
        <fieldset>
            <legend><b><font size="5">Search by name </font></b></legend>
            <div class="col s11">
                <input type="text" id="search" name="term" title="Search" value="{{title}}" class="s8">
            </div>
            <div class="col s1">
                <button class="btn waves-effect waves-light indigo lighten-1 s4" type="submit" value="Submit">
                    Search<i class="material-icons right">send</i>
                </button>
            </div>
        </fieldset>
    </div>
</form>


{% if title %}
<td valign="top">

    <div style="margin-left: .5em; margin-right: .5em">
        {% if results|length > 0 %}
        <h2>Search results for query: '{{ title }}'</h2>
        <table style="width: 85%;">
            <thead>
                <tr>
                    <th align="left">Name</th>
                    <th align="left">Alternative matched names</th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td><a href="{{url_for('inchi_search', inchi=item.inchi)}}" title="{{ item.inchi }}">{{ item.name }}</a></td>
                    <td>{% for one_name in item['matched-names'] %}{{one_name}}<br>{% endfor %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>No results!</h1>
        {% endif %}
        <!--- <p><a href="/">Return to home page</a></p> --->
        <div style="min-height: 25em"></div>
    </div>
</td>
{% endif %}

<script>
// Use this to highlight the query words in a given text
function highlight_words(words, text){
    regex = new RegExp("(" + words.join("|") + ")", "ig");
    return text.replace(regex, '<strong>$1</strong>');
}

// These two are for the instant search - at top of page. Do not remove!
function add_color_span_instant(ul, item) {

    var terms = document.getElementById('search').value.split(/[ ,]+/);
    var display = highlight_words(terms, item.name);

    return $("<li></li>")
        .data("item.autocomplete", item)
        .append("<a><span style='cursor:pointer;'>" + display + "</span></a>")
        .appendTo(ul);
}


$(document).ready(function(){$( "#search" ).autocomplete({
    minLength: 2,
    delay: 0,
    source: "http://alatis.nmrfam.wisc.edu/search/inchi",
    select: function( event, ui ) {
        // Don't put the value in the box when they click
        event.preventDefault();
        // Jump to the entry summary page when they click
        window.location.href = "/inchi/" + ui.item.inchi;
        return false;
    }
}).off('blur').on('blur', function() {
    if(document.hasFocus()) {
        $('ul.ui-autocomplete').hide();
    }
}).data("ui-autocomplete")._renderItem = function (ul, item) {
     return add_color_span_instant(ul, item);
}});

</script>
{% endblock %}
